<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>JSP Practice</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>pp1</servlet-name>
		<jsp-file>/page1.jsp</jsp-file>
		<init-param>
			<param-name>adv</param-name>
			<param-value>FlipCart Advertisement</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>pp1</servlet-name>
		<url-pattern>/p1</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>pp2</servlet-name>
		<jsp-file>/page2.jsp</jsp-file>
		<init-param>
			<param-name>adv</param-name>
			<param-value>Amazon Advertisement</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>pp2</servlet-name>
		<url-pattern>/p2</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>pp3</servlet-name>
		<jsp-file>/page3.jsp</jsp-file>
		<init-param>
			<param-name>adv</param-name>
			<param-value>Ali BaBa Advertisement</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>pp3</servlet-name>
		<url-pattern>/p3</url-pattern>
	</servlet-mapping>
	


	<context-param>
		<param-name>class</param-name>
		<param-value>VowTech IT TC - PCMC!!!</param-value>
	</context-param>
	
	
</web-app>